body {
    background-color: #c1e5f5;
}


td, th {
    border: 1px solid #ccc;
      
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: (#c1e5f5);
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: #c1e5f5ff;
    color: black;
    padding: 10px;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 3.5%;
    margin-top: -0.4%;
}

.logo {
    height: 70px;
    margin-top: 1%;
    
}

.container {
    display: flex;
    flex: 1;
}

#sidebar {
    width: 250px;
    background-color: #d7e9f1;
    color: white;
    transition: transform 0.3s ease;
    overflow-y: auto;
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 7%;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #3e7cb1;
    transform: translateX(-200%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li a {
    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #c1e5f5ff;
}

#sidebar .submenu {
    display: none;
    background-color: #d7e9f1;
}

#sidebar .submenu li {
    padding-left: 32px;
}

#sidebar .submenu.open {
    display: block;
}

#sidebar.open {
    transform: translateX(0);
}

main#content {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    overflow-y: auto;
    margin-right: 8%;
    margin-left: 23%;
    margin-top: -2%;
    margin-bottom: 3%;
}

.input_table {
    
    max-width: 100%;
    overflow-x: auto;
}

.input_table td, .input_table th {
    border-color: #595959;
}

.input_table::-webkit-scrollbar {
    height: 20px;
}

.input_table::-webkit-scrollbar-track {
    background: #ffffff;
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
    border-bottom: 1px solid #595959;
}

.input_table::-webkit-scrollbar-thumb {
    background-color: #ccccccff;
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
    border-bottom: 1px solid #595959;
}

.input_table::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}

.input_table th, .name {
    padding: 8px;
}

.input_table td input {
    padding: 8px;
    width: 100%;
    border: none
    
}

