<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Input</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/data-input">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload CSV">
    </form>


    <form method="POST" action="/data-input-manual">
      <table border="1">
        <thead>
          <tr>
            <th>Member</th>
            <th>1_25_Tar</th>
            <th>1_25_Act</th>
            <th>2_25_Tar</th>
            <th>2_25_Act</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="members[]" value="member1"></td>
            <td><input name="1_25_Tar[]" value="10"></td>
            <td><input name="1_25_Act[]" value="11"></td>
            <td><input name="2_25_Tar[]" value="12"></td>
            <td><input name="2_25_Act[]" value="13"></td>
          </tr>
          <tr>
            <td><input name="members[]" value="member2"></td>
            <td><input name="1_25_Tar[]" value="16"></td>
            <td><input name="1_25_Act[]" value="17"></td>
            <td><input name="2_25_Tar[]" value="18"></td>
            <td><input name="2_25_Act[]" value="19"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit">Save Data</button>
    </form>

</body>
</html>