<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Input</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="nav_menu">

    </div>
    <header>
        <div class="top-bar">
            <div class="hamburger" onclick="toggleSidebar()">
                &#9776;
            </div>
            <a href="https://wealthpoint.co.nz/"><img src="/static/__LogoCMYK_NOBLYINE.png" alt="Logo" class="logo" /></a>
        </div>
    </header>

    <div class="container">
        <nav id="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/data-input">Data Input</a></li>
                <li class="dropdown">
                    <a href="#" onclick="toggleDropdown(this)">Reports</a>
                    <ul class="submenu">
                        <li><a href="/report">All Team</a></li>
                        <li class="dropdown">
                          <a href="#" onclick="toggleDropdown(this)">Individuals</a>
                          <ul class="submenu">
                              {% for member in team_members %}
                                <li><a href="/report/{{member}}">{{member}}</a></li>
                              {% endfor %}
                          </ul>
                        </li>
                        
                        
                        
                    </ul>
                </li>
                <li><a href="/team_manager">Team Management</a></li>
                <li><a href="/signout">Sign Out&nbsp;&nbsp; -&nbsp;&nbsp; {{username}}</a></li>
            </ul>
        </nav>
        
  <main id="content" class="input_page">
            
        
    


    <form method="POST" action="/data-input-manual" id="data-input-form">
      <div class="input_table">
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            {% for title in column_names %}
              <th>{{title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for stats_row in stats %}
            <tr>
              {% for stat in stats_row %}
                {% if stat == stats_row[0] %}
                  <td class="name">{{ stat }}</td>
                {% else: %}
                  <td><input name="stats" value="{{ stat }}" type="number"></td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      
    </form>
    <div class="button-container">
        <button type="submit" form="data-input-form">Save Data</button>
        <a href='/download_csv'><button>Download CSV</button></a>
        <a href="/new_year/0"><button>Add Previous Year</button></a>
        <a href="/new_year/1"><button>Add New Year</button></a>
    </div>
    
    <form method="POST" enctype="multipart/form-data" action="/data-input" class="csv-upload" id="CSV">
        
    </form>
    
    <form method="POST" id="teamForm" class="select-form">
        
    </form>
    
    <form method="POST" id="yearForm" class="select-form">
        
      </form>
  <div class="secondary-options" style="gap: 12px; align-items: center;">
    <form method="POST" enctype="multipart/form-data" action="/data-input" id="CSV" style="gap: 12px; align-items: center;">
        <select name="select" id="teamSelect" form="teamForm">
            <option selected disabled hidden>Team: {{ team }}</option>
            {% for t in user_teams %}
                <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>
        <select name="year" id="yearSelect" form="yearForm">
            <option selected disabled hidden>Selected Year: {{ selected_year }}</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <div class="file-upload-wrapper" onclick="document.getElementById('real-file').click();">
            <button type="button" class="file-upload-btn">Choose File</button>
            <input type="file" class="file_upload" accept=".csv" name="file" id="real-file" style="display:none;">
        </div>
        <input type="submit" value="Upload CSV" class="upload_button">
    </form>
</div>
    <p class="error-message">{{ error_message }}</p>
  </main>

<script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("open");
        }

        function toggleDropdown(el) {
            el.nextElementSibling.classList.toggle("open");
        }
      document.getElementById("teamSelect").addEventListener("change", function () {
        document.getElementById("teamForm").submit();
      });

      document.getElementById("yearSelect").addEventListener("change", function () {
        document.getElementById("yearForm").submit();
      });
      document.getElementById('file-upload-input').addEventListener('change', function() {
        var fileName = this.files[0].name;
        document.getElementById('file-upload-text').textContent = fileName;
      });
</script>
</body>
</html>