<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Input</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/data-input">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload CSV">
    </form>


    <form method="POST" action="/data-input-manual">
      <table border="1">
        <thead>
          <tr>
            {% for title in column_names %}
              <th>{{title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for stats_row in stats %}
            <tr>
              {% for stat in stats_row %}
                {% if stat == stats_row[0] %}
                  <td>{{ stat }}</td>
                {% else: %}
                  <td><input name="stats" value="{{ stat }}"></td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="button" onclick="addRow()">Add Row</button>
      <button type="submit">Save Data</button>
    </form>



</body>
</html>