<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    
    
</style>
<body>
    <div class="off_screen_menu">
        <ul>
            <li>Login</li>
            <li>Create Account</li>
            <li>Sign Out</li>
        </ul>
    </div>

    <nav>
        <div class="hamburger_menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <a href="/data-input">data input</a>
</body>
</html>