<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="sign_up_box">
        <h1>Sign Up</h1>
        <form action="/signup/username={{ username }}/type= {{ manager }}" method="GET">
            <h3>Password</h3>
            
            <input type="text" size="100" maxlength="100"name="password" required>
            
            <input type="submit" name="save" value="Create Account">
        </form>
        <p>{{ error_message }}</p>

    </div>
</body>
</html>