<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="sign_up_box">
        <a href="https://wealthpoint.co.nz/"><img src="/static/__LogoCMYK NOBLYINE (1).png" alt="Logo" class="logo" /></a>
        <h1>Sign In</h1>
        <form action="/signin/username={{ username }}" method="GET">
            <h3>Password</h3>
            
            <input type="password" maxlength="100"name="password" required>
            
            <input type="submit" name="save" value="Sign In">
        </form>
    </div>
</body>
</html>