<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="sign_up_box">
        <h1>Sign In</h1>
        <form action="/signin/username={{ username }}" method="GET">
            <h3>Password</h3>
            
            <input type="text" size="100" maxlength="100"name="password" required>
            
            <input type="submit" name="save" value="Sign In">
        </form>

    </div>
</body>
</html>