<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="sign_up_box">
        <h1>Sign Up</h1>
        <form action="/signup" method="GET">
            <h3>Username</h3>
            
            <input type="text" size="100" maxlength="100"name="username" required>
            
            <input type="submit" name="save" value="Next">
            <p>{{ error_message }}</p>
            <input type="checkbox" name="manager" value="true">
            <label for="manager"> Manager</label><br>
        </form>
    </div>
</body>
</html>