<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Active teams:</h1>
    <table border="1">
        
            {% for team in teams: %}
        
            <tr>
                <td>{{team[0]}}</td>
                <td><a href='/team_manager/{{team[0]}}' border='1'><button>Manage</button></a></td>
            </tr>
            {% endfor %}
            
    </table>
    <a href='/team_manager/create' border='1'><button>Create Team</button>
</body>
</html>